@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

html{
  scroll-behavior:smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d1d1d1;
}

::-webkit-scrollbar-thumb {
  background: teal;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(1, 94, 94);
}

body {
  background-color: #eee;
  font-family: 'Roboto';
}

.text-primary {
  color: #0099ff;
}

.text-secondary {
  color: #064163;
}

p {
  font-family: 'Roboto';
}

.banner-ad {
  max-height: 100px;
  position: sticky;
  top: -100px;
  z-index: 3;
  background-color: orange;
  color: white;
  text-align: center;
  transition: top 0.5s ease-in-out;
  overflow: hidden;
}

.cross {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#whatsapp-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.menu-btn {
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(0.6);
  transition: all .5s ease-in-out;
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

/* ANIMATION */
.slide-down {
  top: 0;
}

.slide-up {
  top: -100px;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.cta-btn {  
  background: #0099ff;
  transition: all 0.2s ease-in-out;
  color: #fff;
}

.cta-btn.jumping {
  animation: jump 1s ease-in-out;
}

#services {
  background: rgb(12, 42, 66);
}

#reviews {
  display: flex;
  justify-content: center;
}

.review {
  opacity: 0;
  transition: all .5s ease-in-out;
  max-width: 500px !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.404);
}

.card {
  max-width: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;
}

.slide {
  max-width: 100%;
  width: auto !important;
  opacity: 1 !important;
  filter: blur(0) !important;
}

.team-member {
  transform: scale(0);
  transition: all .5s ease-in-out;
}

.pop {
  transform: scale(1);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.menu-btn.open {
  position: fixed;
  top: 21px;
}

.menu {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.open-menu{
  height: fit-content;
}

#main {
  height: 100vh;
  background: url('../images/hero-bg.webp') no-repeat center/cover;
  background-position: 90%;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.hero {
  height: 80vh;
}

.cta-btn:hover {
  transform: translateY(-10px) !important;
  box-shadow: #0099ff63 0px 10px 20px 1px;
}

.card img {
  width: 100%;
}

.bg-blue {
  background-color: steelblue;
  color: white;
}



@media (min-width: 768px) {
  .dark-overlay {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2rem;
  }

  .close-icon, .menu-icon {
    display: none;
  }

  .menu {
    position: relative;
    z-index: 1;
    width: 80%;
    height: auto;
    top: 0;
    right: 0;
  }

  .nav-menu {
    justify-content: end;
    align-items: center;
    padding: 0;
    gap: 2rem;
  }

  .nav-menu a {
    border-bottom: #00000000 2px solid;
    transition: border .2s ease-in-out;
  }

  .nav-menu a:hover {
    border-bottom: #fff 2px solid;
  }

  .pop:nth-child(2) {
    transition-delay: 0.2s;
    transform: scale(1);
  }

  .pop:nth-child(3) {
    transition-delay: .4s;
    transform: scale(1);
  }
}
