@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap");

html{
  scroll-behavior:smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d1d1d1;
}

::-webkit-scrollbar-thumb {
  background: teal;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(1, 94, 94);
}

body {
  background-color: #eee;
  font-family: 'Roboto';
}

.text-primary {
  color: #0099ff;
}

.text-secondary {
  color: #064163;
}

p {
  font-family: 'Roboto';
}

.banner-ad {
  display: none;
  position: sticky;
  top: -100px;
  z-index: 3;
  background-color: #582D63;
  color: white;
  text-align: center;
  transition: top 0.5s ease-in-out;
  overflow: hidden;
}

.show {
  display: block;
}

.cross {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#whatsapp-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

/* ANIMATION */
.slide-down {
  top: 0;
}

.slide-up {
  top: -100px;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.cta-btn {  
  background: #0099ff;
  transition: all 0.2s ease-in-out;
  color: #fff;
}

.cta-btn.jumping {
  animation: jump 1s ease-in-out;
}

#services {
  background: rgb(12, 42, 66);
}

#reviews {
  display: flex;
  justify-content: center;
}

#services h1 {
  background: url("https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5dc34c7d51595b4e9ca53745_path-5185.svg") no-repeat center;
  background-size: 100% 100%;
  padding: 20px 0;
}

.bg-vector {
  position: absolute;
  z-index: 0;
}

#vector2 {
  right: 0;
  opacity: 0.5;
}

.review {
  opacity: 0;
  transition: all .5s ease-in-out;
  max-width: 500px !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.404);
}

.card {
  transform: rotateY(90deg);
  overflow: hidden;
  transition: all .5s ease-in-out;
}

.slide {
  transform: rotateY(0deg);
  width: auto !important;
  opacity: 1 !important;
  filter: blur(0) !important;
}

.team-member {
  transform: scale(0);
  transition: all .5s ease-in-out;
}

.pop {
  transform: scale(1);
}

#main {
  height: 100vh;
  background: url('../images/hero-bg.webp') no-repeat center/cover;
  background-position: 90%;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.hero {
  height: 80vh;
}

.cta-btn:hover {
  transform: translateY(-10px) !important;
  box-shadow: #0099ff63 0px 10px 20px 1px;
}

.card img {
  width: 100%;
}

.bg-blue {
  background-color: steelblue;
  color: white;
}



@media (min-width: 768px) {
  .dark-overlay {
    background-color: rgba(0, 0, 0, 0.2);
  }

  #services h1 {
    background-size: auto;
  }

  .pop:nth-child(2) {
    transition-delay: 0.2s;
    transform: scale(1);
  }

  .pop:nth-child(3) {
    transition-delay: .4s;
    transform: scale(1);
  }
}
